body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin: 0;
    background-image: url(download\ \(6\).webp);
    background-repeat: no-repeat ;
    background-size: cover;
    
}

h1 {
    margin: 20px 0;
    color: white;
}

.filters {
    margin-bottom: 20px;
}

.filters button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    background:gray;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.filters button:hover {
    background: darkgrey;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.4s, filter 0.4s;
}

.gallery img:hover {
    transform: scale(1.05);
    filter: brightness(80%);
}


#lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    align-items: center;
    justify-content: center;
}

#lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.prev {
    left: 40px;
}

.next {
    right: 40px;
}


@media (max-width: 600px) {
    .gallery img {
        height: 150px;
    }
}
button{
    width: 75px;
}